/* Thanks to css-snippets channel in Vencord's Discord for a lot of these quick snippet fixes */

/* Credit: scabau :3 (scattagain), BB-8 (starflight44) */
:root {
    --guildbar-avatar-size: 48px !important;
}

.visual-refresh nav[class*="guilds_"] {
    /* Uncomment if you changed up your nameplace */
    /* margin: 0;
    [class*="sidebar_"]:has(&)::after {
        height: 0;
    } */
    

    [class*="listItem__"] {
        defs > path {
            d: path("M0 24C0 16.5449 0 12.8174 1.21793 9.87706C2.84183 5.95662 5.95662 2.84183 9.87706 1.21793C12.8174 0 16.5449 0 24 0C31.4551 0 35.1826 0 38.1229 1.21793C42.0434 2.84183 45.1582 5.95662 46.7821 9.87706C48 12.8174 48 16.5449 48 24C48 31.4551 48 35.1826 46.7821 38.1229C45.1582 42.0434 42.0434 45.1582 38.1229 46.7821C35.1826 48 31.4551 48 24 48C16.5449 48 12.8174 48 9.87706 46.7821C5.95662 45.1582 2.84183 42.0434 1.21793 38.1229C0 35.1826 0 31.4551 0 24Z");
        }

        [class*="childWrapper__"] > svg {
            width: 30px;
            height: 30px;
        }

        [class*="childWrapper__"],
        [class*="childWrapper__"] img,
        [class*="icon_"],
        [class*="circleIconButton__"] {
            border-radius: 100% !important;
            transition: border-radius 150ms;
        }

        [class*="selected__"] {
            [class*="childWrapper__"],
            [class*="childWrapper__"] img,
            [class*="icon_"],
            [class*="circleIconButton__"] {
                border-radius: 0 !important;
            }
        }

        svg {
            top: 0px;
            left: 0px;

            foreignObject {
                width: calc(var(--guildbar-avatar-size) + 0px); /* Compensate expanded scale */
                height: calc(var(--guildbar-avatar-size) + 0px); /* Compensate expanded scale */
                transform: translate(-4px, -4px);
            }

            &:not([class*="folderIcon__"]) > mask {
                use[href$="-lower_badge_masks"] {
                    transform: translate(8px, 8px);
                }
                use[href$="-upper_badge_masks"] {
                    transform: translate(8px, 0px);
                }
            }
        }

        [class*=expandedFolderIconWrapper__] svg {
            width: 24px;
            height: 24px;
        }
    }

    [class*="stack_"] {
        & > div:not([class]):has([class*="listItem__"]) {
            height: 48px !important;
        }

        [class*="isExpanded__"] & {
            height: auto !important;
        }
    }
}
