/* Thanks to css-snippets channel in Vencord's Discord for a lot of these quick snippet fixes */

/* Credit: krekevyks1337 */
span[class*='timestampInline_'] time::before {
    content: attr(aria-label);
    font-size: 12px;
}

span[class*='timestampInline_'] {
    font-size: 0px !important;
}
