/* Thanks to Quick CSS Discord for a lot of these quick snippet fixes */

/* Compact/Hide Visual Refresh Title Bar */

/* 
	Remove the commented @import line to import directly from GitHub 
	After that, remove the associated code below up to 'END COMPACT/VISUAL REFRESH TITLE BAR'
*/

/* @import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css'); */

/* From https://github.com/surgedevs/visual-refresh-compact-title-bar/blob/main/desktop.css */
.visual-refresh {
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 220px;
    --vr-header-snippet-button-padding: 0;

    div.chat_f75fb0,
    div.subtitleContainer_f75fb0,
    main.container__133bf,
    div.chatLayerWrapper__01ae2 {
        & section.container__9293f {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    div.page_c48ade {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        &>div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    div.base_c48ade {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        &:has(div.bar_c38106 > div.trailing_c38106 .updateIconForeground__49676) {

            & div.chat_f75fb0,
            & div.subtitleContainer_f75fb0,
            & main.container__133bf,
            & div.chatLayerWrapper__01ae2 {
                & section.container__9293f {
                    padding-right: calc(var(--vr-header-snippet-space) + 50px);
                }
            }

            & div.videoControls_bfe55a .topControls_bfe55a div.toolbar__9293f {
                margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
            }
        }

        &>div.content_c48ade {
            z-index: 0;
        }

        &>div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0 var(--vr-header-snippet-button-padding) 0 0;

            &>.title_c38106 {
                display: none;
            }
        }

        &:has(> .notice__6e2b9) {
            &>div.bar_c38106 {
                top: anchor(top);
            }
        }

        & div.trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
        }

        &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0)>.bar_c38106 {
            z-index: 0;
        }
    }

    :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade>div.bar_c38106 {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"]>div.itemsContainer_ef3116>div.stack_dbd263 {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    & div.videoControls_bfe55a .topControls_bfe55a,
    section.header__0b563 div.toolbar__9293f,
    div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }
}

/* END COMPACT/VISUAL REFRESH TITLE BAR */

/* Fix User Area and Navbar Covering up so much space!! */
.visual-refresh section[aria-label="User area"] {
    /*width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);;*/
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 15px);
    ;
    left: calc(var(--custom-guild-list-width) + 2%);
    /*bottom: 0px;*/
    /*border-radius: 0px;*/
    /*border: none;*/
}

.visual-refresh nav:has([data-list-id="guildsnav"]) {
    margin-bottom: unset;
}

/* Fix message Detailed Timestamps */
span[class*='timestampInline_'] time::before {
    content: attr(aria-label);
    font-size: 12px;
}

span[class*='timestampInline_'] {
    font-size: 0px !important;
}

/* Fuck Activity Status */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
    display: none;
}

/* Remove Quick React Bar */
.button_f7ecac.hoverBarButton_f84418:nth-of-type(1),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(2),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(3),
.separator_f84418 {
    display: none;
}

/* Fix text area */
.visual-refresh div[class*="channelTextArea_"] {
    margin: 10px;
}